@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    /* Neutrals */
    --lighting-color: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 13px;
    background-color: var(--light-grayish-blue);
    font-family: 'Barlow', sans-serif;
}

.container{
    border: 1px solid #000;
    margin: 10rem 18rem 10rem;
}

.card{
    border: 1px solid lightblue;
}

.card-header{
    display: flex;
}

.card-img{
    border-radius: 50%;
    border: 0.1rem solid var(--moderate-violet);
}
